.login{

    text-align: right;
  }

body{
    background-color: #E2E2E2;
}
a{
    display:inline-block;
}
p{
    text-align:center;
    
}
h2{
    font-style: normal;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.2); 
}