
html {
    font-family: "helvetica neue", helvetica, arial, sans-serif;
    color: rgb(143, 26, 221);
    text-align: center;
  }
  p{
    text-align: center;
  }
#mail,#pass{
    border-collapse: collapse;
    width: 60%;
    height: 1cm;
}
#back{
    text-align: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.table {
    table-layout:fixed;
    width: 1080px;
    height: 25%;
    border-collapse: separate;
    border: 3px ;
    column-width: 2cm;
    height: 40px;
    color: rgb(129, 0, 0);
    font-family: 'Times New Roman 18', Times, serif ;
    font-weight: bolder;
    border-spacing: 10%;
}
tr{
    height: 40%;
    color:rgb(128, 105, 255) ;
    text-align: left;
    border: none;
}
td,th{
    border: none;
}

.label_column{
    width: 3cm;    
}

.send_button{
    size: 1cm;
    width: 2cm;
    height: 1cm;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

